{% extends '../__base.html' %}
{% load static %}
{% block content %}

    <!-- Blog Hero Begin -->
    <div class="blog-hero set-bg" data-setbg="{% static 'img/recipe-main.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="blog__hero__text">
                        <div class="label">Recipes</div>
                        <h2>Cooking Japchae</h2>
                        <ul>
                            <li>By <span>Gildong Hong</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <a href="https://www.youtube.com/watch?v=i1djfV9uigc&t=11s" class="youtube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/kRecipe-ex-japchae-fin.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-6">
                            <div class="blog__details__text">
                            <p>Japchae, sweet potato starch noodles stir fried with vegetables and meat, is one of Korea’s best-loved dishes.</p>
                            <p>Stir frying each ingredient separately seems like a lot of labor,
                                but each one requires a different cooking time and a bit of care,
                                and keeping the color and freshness of each ingredient intact makes for a stunning final presentation.</p>
                        </div>
                        </div>
                        </div>

                        <div class="blog__details__recipe">
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/user.png' %}" alt=""> SERVES</h6>
                                <span>serves 4</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> PREP TIME</h6>
                                <span>15 minute</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> COOK TIME</h6>
                                <span>15 minute</span>
                            </div>
                        </div>
                        <div class="jy__blog__details__recipe__details">
                                    <div class="blog__details__ingredients">
                                        <h6>Ingredients</h6>
                                        <ul>
                                            <li><span>.</span> 4 ounces beef, filet mignon (or pork shoulder), cut into ¼ inch wide and 2½ inch long strips</li>
                                            <li><span>.</span> 2 large dried shiitake mushrooms, soaked in warm water for 2 to 3 hours, cut into thin strips</li>
                                            <li><span>.</span> 2 garlic cloves, minced</li>
                                            <li><span>.</span> 1 tablespoons plus 2 teaspoons sugar</li>
                                            <li><span>.</span> 2 tablespoons plus 1 teaspoon soy sauce</li>
                                            <li><span>.</span> 2 tablespoons toasted sesame oil</li>
                                            <li><span>.</span> 1 tablespoon toasted sesame seeds</li>
                                            <li><span>.</span> 1 large egg</li>
                                            <li><span>.</span> 4 ounces spinach, washed and drained</li>
                                            <li><span>.</span> 4 ounces of dangmyeon (sweet potato starch noodles)</li>
                                        </ul>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="blog__details__direction">
                            <h6>Directions</h6>
                            <h5>Marinate the beef and mushrooms</h5><br>
                            <ul>
                                <li><span>01.</span> Put the beef and shiitake mushrooms into a bowl and mix with 1 clove of minced garlic, 1 teaspoon sugar, ¼ teaspoon ground black pepper, 2 teaspoons soy sauce, and 1 teaspoon of toasted sesame oil with a wooden spoon or by hand. Cover and keep it in the fridge.
                                </li>
                                <li><span>02.</span> Allow the dough to rise, in a lightly greased, covered bowl, until
                                it’s doubled in size,</li>
                                <li><span>03.</span> about 90 minutes.</li>
                                <li><span>04.</span> Gently divide the dough in half; it’ll deflate somewhat. Gently
                                    shape the dough into two oval loaves; or, for longer loaves, two 10″ to 11″ logs.
                                </li>
                                <li><span>05.</span> Place the loaves on a lightly greased or parchment-lined baking
                                sheet. Cover and let</li>
                                <li><span>06.</span> rise until very puffy, about 1 hour. Towards the end of the rising
                                time, preheat the oven</li>
                                <li><span>07.</span> to 425°F.</li>
                                <li><span>08.</span> Spray the loaves with lukewarm water. Make two fairly deep diagonal
                                slashes in each; a serrated bread knife, wielded firmly,</li>
                            </ul>
                        </div>
                        </div>
                            <div class="col-lg-6">
                                    <div class="blog__details__ingredients__pic">
                                        <img src="{% static 'img/kRecipe-ex-japchae-01.jpg' %}" alt="">
                                    </div>
                                </div>
                        </div>
<!--                        <div class="blog__details__print">-->
<!--                            <a href="#" class="primary-btn"><i class="fa fa-print"></i> Print recipe</a>-->
<!--                        </div>-->
                        <div class="blog__details__text">
                            <p>Molded ports in cast burners seem like they would be a good idea, but there is
                                considerable difficulty in making them uniform. Thus, it is quicker and less expensive
                            to drill.</p>
                            <p>Fire Magic grill burner has drilled orifices Notice (from the photo on our site) the lack
                                of extensive burring, allowing for a smooth flow of gas. Cast stainless leaves few, if
                                any, burrs when drilled. This burner has a lifetime warranty, including against rust and
                            burn-through.</p>
                        </div>
                        <div class="blog__details__tags">
                            <span>Tag</span>
                            <a href="#">Food</a>
                            <a href="#">Material</a>
                            <a href="#">Cakes</a>
                            <a href="#">Baking</a>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item">
                                        <a href="#"><span class="arrow_carrot-left"></span> Previous posts</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item blog__details__btns__item--next">
                                        <a href="#">Next posts <span class="arrow_carrot-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__author">
                            <div class="blog__details__author__pic">
                                <img src="{% static 'img/blog/details/blog-author.jpg' %}" alt="">
                            </div>
                            <div class="blog__details__author__text">
                                <h6>Mitchell Holland</h6>
                                <div class="blog__details__author__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h5>03 Comment</h5>
                            <a href="#" class="primary-btn">Leave a comment</a>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-1.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Dylan Stewart</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-2.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Derrick Patrick</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-3.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Michael Luna</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock content %}