{% extends '../__base.html' %}
{% load static %}
{% block content %}

    <!-- Blog Hero Begin -->
    <div class="blog-hero set-bg" data-setbg="{% static 'img/recipe-main.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="blog__hero__text">
                        <div class="label">Recipes</div>
                        <h2>Cooking JeyugBokkeum</h2>
                        <ul>
                            <li>제육볶음</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <a href="https://www.youtube.com/watch?v=3oFCGKmzQX8" class="youtube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/spicyStirFriedPork.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-6">
                            <div class="blog__details__text">
                            <p>Thinly sliced pork marinated in spicy ginger-gochujang and stir-fried with onion, carrots, perilla leaves, or abbage. Ingredients vary according to taste.</p>
                            <p>Bokkeum refers to meat, seafood, or vegetables seasoned and quickly stir-fried over a high flame.</p>
                        </div>
                        </div>
                        </div>

                        <div class="blog__details__recipe">
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/user.png' %}" alt=""> SERVES</h6>
                                <span>serves 4</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> PREP TIME</h6>
                                <span>15 minute</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> COOK TIME</h6>
                                <span>15 minute</span>
                            </div>
                        </div>
                        <div class="blog__details__recipe__details">
                                    <div class="blog__details__ingredients">
                                        <h6>Ingredients</h6>
                                        <ul>
                                            <li><span>.</span>Pork</li>
                                            <li><span>.</span>Various vegetables</li>
                                            <li><span>.</span>3 [meat undergarment (800g based)] Soy sauce </li>
                                            <li><span>.</span>2 chopped garlic</li>
                                            <li><span>.</span>0.2 black pepper</li>
                                        </ul>
                                    </div>
                                    <div class="blog__details__direction">
                                        <br>
                                        <ul>
                                            <li>[making stir-fried marinade]</li>
                                            <li><span>.</span>3 Soy sauce</li>
                                            <li><span>.</span>7 Red pepper powder</li>
                                            <li><span>.</span>6 starch syrup</li>
                                            <li><span>.</span>2 chopped garlic</li>
                                            <li><span>.</span>2 grinded onions</li>
                                            <li><span>.</span>1 cooking wine</li>
                                            <li><span>.</span>little bit of black pepper and  sesame oil</li>
                                        </ul>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="blog__details__direction">
                            <h6>Directions</h6>
<!--                            <h5>Marinate the beef and mushrooms</h5><br>-->
                            <ul>
                                <li><span>01.</span>Heat up a large, thick skillet (or pan) over medium high heat.</li>
                                <li><span>02.</span>Add pork, hot pepper paste, soy sauce, sugar, hot pepper flakes, black pepper, and toasted sesame oil.</li>
                                <li><span>03.</span>Mix it well, stirring with a wooden spoon. Cook it for a few minutes until the pork is well mixed with the seasonings.</li>
                                <li><span>04.</span>Add garlic, ginger, onion, and green onions. Stir and cook for 12 to 15 minutes until the pork is fully cooked and juicy and a little crispy.</li>
                                <li><span>05.</span>Transfer to a serving plate and serve with rice, kimchi, lettuce, ssamjang, and more side dishes.</li>

                            </ul>
                        </div>
                        </div>
                        </div>

                        <div class="blog__details__tags">
                            <span>Tag</span>
                            <a href="#">Food</a>
                            <a href="#">Material</a>
                            <a href="#">Cakes</a>
                            <a href="#">Baking</a>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item">
                                        <a href="#"><span class="arrow_carrot-left"></span> Previous posts</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item blog__details__btns__item--next">
                                        <a href="#">Next posts <span class="arrow_carrot-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__author">
                            <div class="blog__details__author__pic">
                                <img src="{% static 'img/blog/details/blog-author.jpg' %}" alt="">
                            </div>
                            <div class="blog__details__author__text">
                                <h6>Mitchell Holland</h6>
                                <div class="blog__details__author__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h5>03 Comment</h5>
                            <a href="#" class="primary-btn">Leave a comment</a>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-1.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Dylan Stewart</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-2.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Derrick Patrick</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-3.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Michael Luna</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock content %}