{% extends '../__base.html' %}
{% load static %}
{% block content %}

    <!-- Blog Hero Begin -->
    <div class="blog-hero set-bg" data-setbg="{% static 'img/recipe-main.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="blog__hero__text">
                        <div class="label">Recipes</div>
                        <h2>Cooking Haemulpajeon</h2>
                        <ul>
                            <li>By <span>Gildong Hong</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <a href="https://www.youtube.com/watch?v=RXcsHj1l-Pc" class="youtube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/seafoodpajeon.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-6">
                            <div class="blog__details__text">
                                <p>Julienned, tender young green onion stems folded into a flour batter with squid, clam meat, and oysters and pan-fried. Served with a soy vinaigrette dipping sauce.</p>
                                <p>Jeon refers to seafood, meat, or vegetables, thinly-sliced or chopped, seasoned, coated with flour, and pan-fried in egg batter.</p>
                        </div>
                        </div>
                        </div>

                        <div class="blog__details__recipe">
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/user.png' %}" alt=""> SERVES</h6>
                                <span>serves 4</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> PREP TIME</h6>
                                <span>15 minute</span>
                            </div>
                            <div class="blog__details__recipe__item">
                                <h6><img src="{% static 'img/blog/details/clock.png' %}" alt=""> COOK TIME</h6>
                                <span>15 minute</span>
                            </div>
                        </div>
                        <div class="jy__blog__details__recipe__details">
                                    <div class="blog__details__ingredients">
                                        <h6>Ingredients</h6>
                                        <ul>
                                            <li><span>.</span>1.5 squid </li>
                                            <li><span>.</span>clam meat </li>
                                            <li><span>.</span>130g of shrimp</li>
                                            <li><span>.</span>1 onion</li>
                                            <li><span>.</span>chives (or chives) </li>
                                            <li><span>.</span>mushroom [dough] 2.5 cups of flour </li>
                                            <li><span>.</span>1/2 cup of flour</li>
                                            <li><span>.</span>2 eggs</li>
                                            <li><span>.</span>a little salt </li>
                                            <li><span>.</span>a little black pepper </li>
                                            <li><span>.</span>water 400 cc (inner adjustment) </li>
                                            <li><span>.</span></li>

                                        </ul>
                                    </div>
                                    <div class="blog__details__direction">
                                        <br>
                                        <ul>
                                            <li>[spice soy sauce]</li>
                                            <li><span>.</span>1Ts Soy sauce </li>
                                            <li><span>.</span>water 1/2Ts </li>
                                            <li><span>.</span>vinegar 1Ts</li>
                                            <li><span>.</span>sugar1/2Ts</li>
                                            <li><span>.</span>green onion</li>
                                        </ul>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="blog__details__direction">
                            <h6>Directions</h6>
                            <h5>Prepare pancake ingredients:</h5><br>
                                <ul>
                                    <li><span>01.</span> Combine the chopped seafood, pinch of salt and a pinch of ground black pepper in a small bowl. Mix it well and set aside.</li>
                                    <li><span>02.</span>Combine flour, potato starch, ½ teaspoon salt, and ¾ cup stock (or water) in a large enough to accommodate the green onions. Mix with a whisk until smooth.</li>
                                </ul>
                            </div>
                            <div class="blog__details__direction">
                                <h5>Make green onion pancake:</h5><br>
                                <ul>
                                    <li><span>01.</span>Heat 2 tablespoons of the vegetable oil in a large nonstick skillet over medium-high heat and swirl to coat evenly.</li>
                                    <li><span>02.</span>Add the green onions to the batter to coat them. Using tongs or your hand, place them side by side in the skillet, alternating white end to green end, so they form a neat rectangle.</li>
                                    <li><span>03.</span>Add the seafood to the leftover batter in the bowl. Using your hands or tongs, spread the battered seafood on top of the battered scallions, scraping out any excess batter remaining in the bowl.</li>
                                    <li><span>04.</span>Add the sliced red pepper and pour the beaten egg over top of the pancake in the skillet.</li>
                                    <li><span>05.</span>Quickly wash your hands!</li>
                                    <li><span>06.</span>Reduce the heat to medium and cook for about 6 minutes, until the bottom is light brown and crispy.</li>
                                    <li><span>07.</span>Turn the pancake over with a large spatula. Drizzle the remaining 2 tablespoons vegetable oil around the edges of the skillet. Lift one edge of the pancake with your spatula and tilt the skillet so that the oil flows underneath the pancake. Cook for another 3 minutes until nicely browned and crisp.</li>
                                    <li><span>08.</span>Turn the pancake over again. Turn up the heat to medium high heat and cook for 1 minute, until the bottom turns crunchy.</li>
                                    <li><span>09.</span>Transfer to a large plate, with the egg and seafood side up. Serve right away with the dipping sauce.</li>
                                </ul>
                            </div>
                            </div>
                        </div>

                        <div class="blog__details__tags">
                            <span>Tag</span>
                            <a href="#">Food</a>
                            <a href="#">Material</a>
                            <a href="#">Cakes</a>
                            <a href="#">Baking</a>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item">
                                        <a href="#"><span class="arrow_carrot-left"></span> Previous posts</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btns__item blog__details__btns__item--next">
                                        <a href="#">Next posts <span class="arrow_carrot-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__author">
                            <div class="blog__details__author__pic">
                                <img src="{% static 'img/blog/details/blog-author.jpg' %}" alt="">
                            </div>
                            <div class="blog__details__author__text">
                                <h6>Mitchell Holland</h6>
                                <div class="blog__details__author__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h5>03 Comment</h5>
                            <a href="#" class="primary-btn">Leave a comment</a>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-1.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Dylan Stewart</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-2.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Derrick Patrick</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="{% static 'img/blog/details/comment-3.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>Michael Luna</h6>
                                    <span>26 Feb 2020</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                                    <div class="blog__details__comment__btns">
                                        <a href="#">Reply</a>
                                        <a href="#">Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock content %}