{% extends '../__base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="{% static 'img/samgyetang2.JPG' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="main__text">
                                <h2>Samgyetang</h2>
                                [삼계탕]<br>
                                Samgyetang is a hot, steaming, delicious dish that features a small chicken stuffed with
                                rice, ginseng, garlic, and jujube.<br>
                                Koreans traditionally eat this dish during the hottest days of summer <br>
                                as a way to keep up their energy.
                                <!--                            and to balance their body heat with the weather outside.-->
                                <!--                            We have a saying: Yi yeol chi yeol (以熱治熱: 이열치열), which means “fight fire with fire.”-->
                                <!--                            If it’s hot outside, you have to overcome it with hot soup!-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'img/bibimbap.jpg' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="main__text">
                                <h2>Bibimbap</h2>
                                [비빔밥]<br>
                                The word literally means "mixed rice".<br>
                                Bibimbap is served as a bowl of warm white rice topped with namul and gochujang,
                                doenjang, etc.<br>
                                People from all over the world can enjoy this as healty food.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'img/tteokbokki2.PNG' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="main__text">
                                <h2>Tteokbokki</h2>
                                [떡볶이]<br>
                                Also knwon as Korean soul food, these are cylinder-shaped rice cakes cooked in
                                gochujang-a sweet, spciy red pepper sauce.<br>
                                Can be served in a bowl with ingredients such as egg, noodles or cheese.<br>
                                You almost find Tteokbokki EVERYWHERE.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="{% static 'img/pajeon2.PNG' %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="main__text">
                                <h2>Pajeon & Makgeolli</h2>
                                [파전과 막걸리]<br>
                                Tender young green onions mixed with a flour batter and pan-fried in oil.<br>
                                Served with a soy vinaigrette dipping sauce. It goes well with makgeolli, which is
                                traditional Korean wine.<br>
                                On rainy days, Koreans like to eat Pajeon and Makgeolli.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Section End -->

    <!--category Section Begin-->
    <section class="class-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="class__item">
                                <div class="class__item__pic set-bg" data-setbg="{% static 'img/kReport-ex.png' %}">
                                </div>
                                <div class="class__item__text">
                                    <h5><a href="{% url 'at_project:k-food-report' %}">K-REPORT</a></h5>
                                    {#                                    <span>Wed 08 Apr 2020; 6.30pm - 9.30pm</span>#}
                                    <p>The latest and most interesting report on Korean food.</p>
                                    <a href="#" class="read_more">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="class__item">
                                <div class="class__item__pic set-bg" data-setbg="{% static 'img/kpop-bts.jpg' %}">
                                </div>
                                <div class="class__item__text">
                                    <h5><a href="{% url 'at_project:kpop' %}">K-POP</a></h5>
                                    {#                                    <span>Wed 08 Apr 2020; 6.30pm - 9.30pm</span>#}
                                    <p>The taste of a world-famous Korean celebrity and their favorite Korean food.</p>
                                    <a href="#" class="read_more">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="class__item">
                                <div class="class__item__pic set-bg" data-setbg="{% static 'img/kRecipe.jpg' %}">
                                </div>
                                <div class="class__item__text">
                                    <h5><a href="{% url 'at_project:food-recipe-1' %}">K-RECIPE</a></h5>
                                    {#                                    <span>Wed 08 Apr 2020; 6.30pm - 9.30pm</span>#}
                                    <p>The best Korean food recipe that food that you've never experienced before</p>
                                    <a href="#" class="read_more">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="class__item">
                                <div class="class__item__pic set-bg" data-setbg="{% static 'img/kTour-main.jpg' %}">
                                </div>
                                <div class="class__item__text">
                                    <h5><a href="{% url 'at_project:k-tour' %}">K-TOUR</a></h5>
                                    {#                                    <span>Wed 08 Apr 2020; 6.30pm - 9.30pm</span>#}
                                    <p>Are you looking for a good restaurant? How's this place?</p>
                                    <a href="#" class="read_more">Read more</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--category Section End-->


    <!-- About Section Begin -->
    <section class="class spad" style="margin-bottom: 10%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__text">
                        <div class="section-title">
                            <span>About Us</span>
                        </div>
                        <h2>Introduction of Korean foods</h2>
                    </div>
                    <p>This page provides information and recipes about Korean foods that are hard to access for many
                        foreigners who have become very interested in Korea. Furthermore, for those who have come across
                        Korea through famous Korean celebrities, we will introduce the favorite or related foods of
                        Korea's most famous celebrities, such as BTS, Black Pink, and IU.</p>
                    <br><br><br>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
{% endblock content %}