.main__text {
  text-align: center;
  padding: 55px 60px 60px;
  position: relative;
  background-color: #ffffff;
  background-color: rgba( 255, 255, 255, 0.5 );
}

.main__text h2{
  font-size: 60px;
  color: #111111;
  line-height: 60px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 18px;
  position: relative;
}

.jy__blog__details__recipe__details {
  margin-bottom: 100px;
}
