.slide-btn-right {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.slide-btn-left {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.body-new {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../fonts/NanumSquareRoundR.eot');
    src: url('../fonts/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumSquareRoundR.woff2') format('woff2'),
    url('../fonts/NanumSquareRoundR.woff') format('woff'),
    url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
    url('../fonts/NanumSquareRoundR.svg#NanumSquareRoundR') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.new-recipe-h4 {
    font-family: NanumSquareRound;
    font-size: 20px;
}

.recipe-hover:hover {
    box-shadow: 1px 1px 20px;
}

.apiContArea .schBox {
    margin: 0 !important;
    position: relative !important;
    margin-bottom: 10px !important;
    color: #4c5155 !important;
    font-size: 12px !important;
    text-align: left !important;
    margin-top: 5% !important;
}

.price-img-1 {
    content: url('../img/products/onion-re.png') !important;
    width: 100%;
}

.price-img-2 {
    content: url('../img/products/cabbage-re.png') !important;
    width: 100%;
}

.price-img-3 {
    content: url('../img/products/Radish-re.png') !important;
    width: 100%;
}

.price-img-4 {
    content: url('../img/products/cucumber-re.png') !important;
    width: 100%;
}

.price-img-5 {
    content: url('../img/products/lettuce-re.png') !important;
    width: 100%;
}

.price-div-none {
    display: none;
}

.price-select {
    /*background: #f08632 !important;*/
    border: 3px solid #f08632;
}

.price-select > div > h5 {
    /*color:rgb(255,255,255) !important;*/
    margin-top: -10%;
}

.table-margin {
    margin: auto;
}

.table-margin > table {
    text-align: center;
    font-size: x-small;
}

.naver-logo {
    content: url('../img/naver_logo.png') !important;
    width: 10%;
}

.map-nav {
    display: table;
    table-layout: auto;
    padding: 4px;
    border-radius: 23px;
    border: 1px solid #0475f4;
    background: #fff;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0) !important;
}

.side-navbar {
    width: 180px;
    height: 500px;
    position: fixed;
    margin-left: -1800px;
    background-color: white;
    /*transition: 0.5s;*/
    z-index: 99999;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.my-container {
    margin-left: 58px;
    position: relative;
    margin-top: -300px;
    z-index: 99999;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 235px;
    position: relative;
    margin-top: -300px;
    z-index: 99999;
}

#menu-btn {
    background-color: white;
    position: relative;
    height: 45px;
    width: 20px;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 0px 0px 2px;
    margin-top: -550px;
    z-index: 99999;
}

.new-span-left {
    margin-top: 8px;
    margin-left: -8px;
    width: 15px !important;
    height: 15px !important;
}

.new-span-right {
    margin-top: 8px;
    margin-left: -8px;
    width: 15px !important;
    height: 15px !important;
}

.menu-btn-left {
   margin-left: 180px !important;
}

.map-div {
    position: relative; display: inline-block;
}

.map-div > img {
    position: absolute;
    /*padding: 15% 10% 0px 0px;*/
}