{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K-FOOD</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/gy_custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jy_custom.css' %}" type="text/css">

    {% block add_css %}{% endblock add_css %}
    {% block add_js %}{% endblock add_js %}
</head>

<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
{% block Menu %}
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
                <div class="cart__price">Cart: <span>$0.00</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'at_project:index' %}"><img src="{% static 'img/main01.jpg' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            <ul>
                <li>USD <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>EUR</li>
                        <li>USD</li>
                    </ul>
                </li>
                <li>ENG <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>Spanish</li>
                        <li>ENG</li>
                    </ul>
                </li>
                <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
{% endblock Menu %}
{% block header %}
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    <li>USD <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li>USD</li>
                                            <li>KRW</li>
                                        </ul>
                                    </li>
                                    <li>ENG <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li>ENG</li>
                                            <li>KOR</li>
                                        </ul>
                                    </li>
                                    <li>Accounts<span class="arrow_carrot-down"></span>
                                        <ul style="text-align: center;">
                                            {% if request.user.is_authenticated %}
                                                <li style="margin-right: 0;"><a href="{% url 'accounts:logout' %}"
                                                                                style="color: white">Logout</a></li>
                                            {% else %}
                                                <li style="margin-right: 0;"><a href="{% url 'accounts:signin' %}"
                                                                                style="color: white">Sign In</a></li>
                                            {% endif %}
                                            <li style="padding: 2px 10px;"><a href="{% url 'accounts:signup' %}"
                                                                              style="color: white">Sign Up</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header__logo" style="left: 40%">
                                <a href="{% url 'at_project:index' %}"><img src="{% static 'img/main-default.jpg' %}"
                                                                            alt="" style="width: 40%"></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}"
                                                                           alt=""></a>
                                    <a href="{% url 'at_project:mypage' %}"><img src="{% static 'img/icon/heart.png' %}"
                                                                                 alt=""></a>
                                </div>
                                <div class="header__top__right__cart">
                                    {% if request.user.is_authenticated %}
                                        <div>
                                            <span class="icon-people mr-3"></span>
                                            <span style="font-size: larger;"><strong>{{ user.get_username }}</strong></span>
                                        </div>
                                    {% else %}
                                        <span style="font-size: larger;">Please log in.</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li
                                    {% if request.path == '/at/k-food-report/' or request.path == '/at/repice-ajax/'  or request.path == '/at/k-food-report-2/' %}
                                        class="active" {% endif %}><a href="{% url 'at_project:k-food-report' %}">K-Report</a>
                            </li>
                            <li {% if request.path == '/at/kpop/' %} class="active" {% endif %}><a
                                    href="{% url 'at_project:kpop' %}">K-Pop</a></li>
                            <li
                                    {% if request.path == '/at/food-recipe-1/' or request.path == '/at/food-recipe-2/' or request.path == '/at/recipe-ajax/' %}
                                        class="active" {% endif %} ><a href="#">K-Recipe</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'at_project:food-recipe-1' %}">Recipe</a></li>
                                    <li><a href="{% url 'at_project:recipe-ajax' %}">Food of the Month</a></li>
                                </ul>
                            </li>
                            <li {% if request.path == '/at/k-tour/' %} class="active" {% endif %}><a
                                    href="{% url 'at_project:k-tour' %}">K-Tour</a></li>
                            <li {% if request.path == '/at/mypage/' %} class="active" {% endif %}><a
                                    href="{% url 'at_project:mypage' %}">MyPage</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
{% endblock header %}
{% block content %}
{% endblock content %}
{% block footer %}
    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/음식사진/footer_01.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
{#                    <div class="footer__widget">#}
{#                        <h6>WORKING HOURS</h6>#}
{#                        <ul>#}
{#                            <li>Monday - Friday: 08:00 am – 08:30 pm</li>#}
{#                            <li>Saturday: 10:00 am – 16:30 pm</li>#}
{#                            <li>Sunday: 10:00 am – 16:30 pm</li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static 'img/footer-main-default.png' %}" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore dolore magna aliqua.</p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
{#                    <div class="footer__newslatter">#}
{#                        <h6>Subscribe</h6>#}
{#                        <p>Get latest updates and offers.</p>#}
{#                        <form action="#">#}
{#                            <input type="text" placeholder="Email">#}
{#                            <button type="submit"><i class="fa fa-send-o"></i></button>#}
{#                        </form>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="copyright__widget">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
{% endblock footer %}
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.barfiller.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/gy_custom.js' %}"></script>

{% block other_js %}
{% endblock other_js %}
</body>

</html>