{% extends '../__base.html' %}
{% load static %}
{% block add_js %}
    <script type='text/javascript'
            src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
{% endblock add_js %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class='tableauPlaceholder' style=" margin-left: auto; margin-right: auto;">
                    <object class='tableauViz' width='1000' height='827' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F'/>
                        <param name='embed_code_version' value='3'/>
                        <param name='site_root' value='&#47;t&#47;atproject'/>
                        <param name='name' value='01_16279018520350&#47;1_1'/>
                        <param name='tabs' value='no'/>
                        <param name='toolbar' value='yes'/>
                        <param name='showAppBanner' value='false'/>
                    </object>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
{% endblock content %}

